<form ng-submit="vm.onSubmit()">
    <h2>Custom Filter Pane</h2>

  <fieldset>
    <legend>Target Type:</legend>
    <div class="form-group">
      <select class="form-control" ng-options="targetType for targetType in vm.targetTypes" ng-model="vm.selectedTargetType">
        <option ng-repeat="">{{targetType}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="table">Table</label>
      <input type="text" class="form-control" placeholder="Table" ng-model="vm.table">
    </div>
    <div class="form-group filter-type filter-type--column" ng-if="vm.selectedTargetType === 'Column'">
      <label for="column">Column</label>
      <input type="text" class="form-control" placeholder="Column" ng-model="vm.column">
    </div>
    <div class="form-group filter-type filter-type--hierarchy" ng-if="vm.selectedTargetType === 'Hierarchy'">
      <label for="hierarchy">Hierarchy</label>
      <input type="text" class="form-control" placeholder="hierarchy" ng-model="vm.hierarchy">
    </div>
    <div class="form-group filter-type filter-type--hierarchy" ng-if="vm.selectedTargetType === 'Hierarchy'">
      <label for="hierarchylevel">Hierarchy Level</label>
      <input type="text" class="form-control" placeholder="Hierarchy Level" ng-model="vm.hierarchyLevel">
    </div>
    <div class="form-group filter-type filter-type--measure" ng-if="vm.selectedTargetType === 'Measure'">
      <label for="measure">Measure</label>
      <input type="text" class="form-control" placeholder="Measure" ng-model="vm.measure">
    </div>
  </fieldset>

  <fieldset>
    <legend>Operator Type:</legend>
    <div class="radio" ng-repeat="filterType in vm.filterTypes">
      <label>
        <input type="radio" name="filterType" ng-value="filterType" ng-model="vm.selectedFilterType">
        {{filterType}}
      </label>
    </div>

    <div class="filter-operators filter-operators--basic" ng-if="vm.selectedFilterType === 'Basic'">
      <h5>Basic Operators</h5>
      <div class="form-group">
        <select class="form-control" ng-options="operator for operator in vm.basicOperators" ng-model="vm.selectedBasicOperator">
        </select>
      </div>

      <h5>Values</h5>
      <div class="basicvalues">
        <div class="form-group">
          <input class="form-control basic-value" placeholder="Value 1" ng-model="vm.value1" />
        </div>
        <div class="form-group">
          <input class="form-control basic-value" placeholder="Value 2" ng-model="vm.value2" />
        </div>
      </div>
    </div>

    <div class="filter-operators filter-operators--advanced" ng-if="vm.selectedFilterType === 'Advanced'">
      <h5>Advanced Operators</h5>

      <p>Logical Operator</p>
      <div class="form-group">
        <select class="form-control" ng-options="operator for operator in vm.logicalOperators" ng-model="vm.selectedLogicalOperator">
        </select>
      </div>

      <div class="advancedvalues">
        <div class="form-group advanced-value">
          <p>Value</p>
          <div class="form-group">
            <input class="form-control advanced-value-input" placeholder="Value 1" ng-model="vm.valueA" />
          </div>
          <p>Condition Operator</p>
          <select class="form-control advanced-logical-condition" ng-options="operator for operator in vm.conditionalOperators" ng-model="vm.conditionalOperatorA">
          </select>
        </div>

        <div class="form-group advanced-value">
          <p>Value</p>
          <div class="form-group">
            <input class="form-control advanced-value-input" placeholder="Value 1" ng-model="vm.valueB" />
          </div>
          <p>Condition Operator</p>
          <select class="form-control advanced-logical-condition" ng-options="operator for operator in vm.conditionalOperators" ng-model="vm.conditionalOperatorB">
          </select>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Report Target:</legend>
    <div class="form-group">
      <div class="radio" ng-repeat="reportTarget in vm.reportTargets">
        <label>
          <input type="radio" name="filterTarget" ng-value="reportTarget" ng-model="vm.selectedReportTarget">
          {{reportTarget}}
        </label>
      </div>
    </div>

    <div class="filter-target filter-target--page" ng-show="vm.selectedReportTarget === 'Page'">
      <div class="form-group">
        <select class="form-control" ng-options="page as page.displayName for page in vm.pages" ng-model="vm.selectedPage">
        </select>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Add Filter</button>
  </div>
</form>

<div id="appliedFilters">
  <h2>Applied Filters</h2>
  <p>
    <button type="button" class="btn btn-success" ng-click="vm.refreshClicked()">Refresh</button>
  </p>

  <h3>Report Level</h3>
  <p>{{vm.filtersNode.name}}</p>
  <div class="filters">
    <div class="filter" ng-repeat="filter in vm.filtersNode.filters">
      <button class="btn btn-danger filter__remove" ng-click="vm.remove(filter, vm.filtersNode.name)">&times;</button>
      <div class="filter__text">
        {{filter | json}}
      </div>
    </div>
  </div>

  <h3>Page Level</h3>
  <div ng-repeat="node in vm.filtersNode.nodes">
    <h4>{{node.name}}</h4>
    <div class="filters">
      <div class="filter" ng-repeat="filter in node.filters">
        <button class="btn btn-danger filter__remove" ng-click="vm.remove(filter, node.name)">&times;</button>
        <div class="filter__text">
          {{filter | json}}
        </div>
      </div>
    </div>
  </div>

  <h3>Visual Level</h3>
  <p>N/A</p>
</div>