<h1>Dynamic Embed</h1>
<p>Report to embed is chosen by the user.</p>

<p>Example: Search reports by name, render selected report.</p>
<small>Hint: Type 'Re' in the text field and search to find all reports that begin with 'Re'</small>

<form id="search-form" class="form-inline">
    <div class="form-group">
        <label for="searchinput">Search</label>
        <input type="text" ng-model="vm.searchInput" class="form-control" id="searchinput" required placeholder="Enter report name" autocomplete="off" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="button" class="btn btn-success" ng-click="vm.showAllClicked()">Show All</button>
    <div class="checkbox">
        <label for="filterPaneCheckbox">
            <input type="checkbox" name="filterPaneCheckbox" id="filterPaneCheckbox" checked="checked" /> Enable filter pane when embedding report.
        </label>
    </div>
</form>

<p class="reportslistdescription" >Total Results: <span id="reportslistcount">{{vm.reports.length}}</span></p>
<ol id="reportslist">
    <li ng-repeat="report in vm.reports">
        <span class="report-name">{{report.name}}</span>
        <button type="button" class="btn btn-success" ng-click="vm.embedReport(report)">Embed!</button>
    </li>
</ol>
<p class="text-right">
    <button type="button" class="btn btn-danger" ng-click="vm.resetClicked()">Reset</button>
</p>
<powerbi-component options="vm.report"></powerbi-component>